</div>
<!--<script src="__JS__/jquery.nestable.js"></script>-->
<!--<script src="__JS__/toastr.min.js"></script>-->
<!--<script src="__JS__/bootstrap-editable.min.js"></script>-->
<!--<script src="__JS__/sweetalert.min.js"></script>-->
<script src="__JS__/icheck.min.js"></script>
<!--<script src="__JS__/bootstrap-colorpicker.min.js"></script>-->
<!--<script src="__JS__/jquery.inputmask.bundle.min.js"></script>-->
<script src="__JS__/moment-with-locales.min.js"></script>
<script src="__JS__/bootstrap-datetimepicker.min.js"></script>
<!--<script src="__JS__/canvas-to-blob.min.js"></script>-->
<script src="__JS__/fileinput.min.js"></script>
<script src="__JS__/select2.full.min.js"></script>
<!--<script src="__JS__/bootstrap-number-input.js"></script>-->
<script src="__JS__/icheck.min.js"></script>
<!--<script src="__JS__/ion.rangeSlider.min.js"></script>-->
<script src="__JS__/bootstrap-switch.min.js"></script>
<script src="__JS__/fontawesome-iconpicker.min.js"></script>
<script src="__JS__/jquery.bootstrap-duallistbox.min.js"></script>
<!--<script src="__JS__/kindeditor-all-min.js"></script>-->
<!--<script src="__JS__/zh-CN.js"></script>-->
<!--<script src="__JS__/prettify.js"></script>-->
<!--<script src="__JS__/laravel-admin.js"></script>-->
</body></html>