<ul class="sidebar-menu">
	<li class="header">菜单</li>
	<li><a href="/merchant/index"> <i class="fa fa-home"></i> <span>首页</span> </a></li>
	<li><a href="/merchant/tibi"> <i class="fa fa-credit-card-alt"></i> <span>商户提币</span> </a></li>
	<li><a href="/merchant/merchantSet"> <i class="fa fa-bars"></i> <span>谷歌验证</span> </a></li>
	<li><a href="/merchant/adindex"> <i class="fa fa-bullhorn"></i> <span>挂卖</span> </a></li>
	<li><a href="/merchant/ordersell"> <i class="fa fa-list"></i> <span>匹配订单</span> </a></li>
	<li><a href="/merchant/shanghurecord"> <i class="fa fa-list"></i> <span>下级数据</span> </a></li>
	<li><a href="/merchant/downmerchant"> <i class="fa fa-user-plus"></i> <span>下级用户</span> </a></li>
	<li><a href="/merchant/agentreward"> <i class="fa fa-tasks"></i> <span>代理奖励</span> </a></li>
	<li><a href="/merchant/payset"> <i class="fa fa-paypal"></i> <span>支付设置</span> </a></li>
	<li><a href="/message/index"> <i class="fa fa-comment"></i> <span>反馈问题</span> </a></li>
	<li><a href="/merchant/log"> <i class="fa fa-list-ol"></i> <span>登录日志</span> </a></li>
</ul>