<ul class="sidebar-menu">
	<li class="header">菜单</li>
	<li><a href="/merchant/index"> <i class="fa fa-bar-chart"></i> <span>首页</span> </a></li>
	<li><a href="/merchant/adindex"> <i class="fa fa-bullhorn"></i> <span>挂卖</span> </a></li>
	<!--
	<li><a href="/home/merchant/gm"> <i class="fa fa-credit-card-alt"></i> <span>发布挂买</span> </a></li>
	<li><a href="/home/merchant/gmlist"> <i class="fa fa-credit-card-alt"></i> <span>购买订单列表</span> </a></li>
	<li><a href="/home/merchant/RechargeAmount"> <i class="fa fa-credit-card-alt"></i> <span>充值</span> </a></li>
	-->
	<li><a href="/merchant/ordersell"> <i class="fa fa-list"></i> <span>匹配订单列表</span> </a></li>
	<li><a href="/merchant/tibi"> <i class="fa fa-credit-card-alt"></i> <span>商户提币</span> </a></li>
	<li><a href="/merchant/pkorder"> <i class="fa fa-list"></i> <span>订单列表</span> </a></li>
	<li><a href="/merchant/recharge"> <i class="fa fa-hospital-o"></i> <span>充值记录</span> </a></li>
	<li><a href="/merchant/address"> <i class="fa fa-bars"></i> <span>钱包地址</span> </a></li>
	<li><a href="/merchant/withdraw"> <i class="fa fa-external-link"></i> <span>提币记录</span> </a></li>
	<li><a href="/merchant/merchantSet"> <i class="fa fa-bars"></i> <span>谷歌验证</span> </a></li>
	<li><a href="/merchant/payset"> <i class="fa fa-bars"></i> <span>支付设置</span> </a></li>
	<li><a href="/log/capitalFlow"> <i class="fa glyphicon glyphicon-euro"></i> <span>资金流水</span></a></li>
	<li><a href="/message/index"> <i class="fa fa-comment"></i> <span>反馈问题</span> </a></li>
	<li><a href="/merchant/log"> <i class="fa fa-list-ol"></i> <span>登录日志</span> </a></li>
</ul>