{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户充值列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">
                <!-- <div  class="col-sm-2" style="width: 100px">
                    <div class="input-group" >
                        <a href="{:url('add_member')}"><button class="btn btn-outline btn-primary" type="button">添加会员</button></a>
                    </div>
                </div>  -->
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('rechargelist')}">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" id="key" class="form-control" style="width:33%;" name="key" value="{$val}" placeholder="输入需查询的商户姓名/手机号" />
                                <input type="text" id="keyuser" class="form-control" style="width:33%;" name="keyuser" value="{$valuser}" placeholder="输入需查询的用户名" />
                                <select name="status" class="form-control" id="status" style="width:33%;">
                                	<option value="0" {empty name="status"}selected{/empty}>选择状态</option>
                                	<option value="1" {eq name="status" value="1"}selected{/eq}>生成充值订单</option>
                                	<option value="2" {eq name="status" value="2"}selected{/eq}>已收款</option>
                                </select>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="">商户</th>
                                <th>用户名</th>
                                <th>转出地址</th>
                                <th>转入地址</th>
                                <th>数量</th>
                                <th>手续费</th>
                                <th>实到</th>
								<th>确认数</th>
                                <th>状态</th>
                                <th width="">时间</th>
								<th>操作</th>
                            </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                            <tr class="long-td">
                                <td>{{d[i].name}}</td>
                                <td>{{d[i].username}}</td>
                                <td>{{d[i].from_address}}</td>
                                <td>{{d[i].to_address}}</td>
                                <td>{{d[i].num}}</td>
                                <td>{{d[i].fee}}</td>
                                <td>{{d[i].mum}}</td>
								<td>{{d[i].confirmations}}</</td>
                                <td>
{{# if(d[i].status == 0){ }}
	生成充值订单
{{# }else if(d[i].status == 1){ }}
	已收款
{{# }else if(d[i].status == 5){ }}
	失败
{{# } }}
</td>
                                <td>{{d[i].addtime}}</td>
								<td>
<a href="javascript:;" onclick="showtxid('{{d[i].txid}}')" class="btn btn-primary btn-outline btn-xs">
                                        Txid</a>
</td>
                            </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>

{include file="public/footer" /}

<script type="text/javascript">

    //laypage分页
    Ajaxpage();
    function Ajaxpage(curr){
        var key=$('#key').val();
        var keyuser=$('#keyuser').val();
        var status = $('#status option:selected').val();
        $.getJSON('{:url("Merchant/rechargelist")}', {page: curr || 1,key:key, keyuser:keyuser, status:status}, function(data){
            $(".spiner-example").css('display','none'); //数据加载完关闭动画
            if(data==''){
                $("#list-content").html('<td colspan="10" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }else{
                var tpl = document.getElementById('list-template').innerHTML;
                laytpl(tpl).render(data, function(html){
                    document.getElementById('list-content').innerHTML = html;
                });
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'{$allpage}',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 3,//连续显示分页数
                    jump: function(obj, first){
                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }

//编辑会员
function edit_member(id){
    location.href = './edit_member/id/'+id+'.html';
}

//删除会员
function del_member(id){
    lunhui.confirm(id,'{:url("del_member")}');
}

//用户会员
function member_status(id){
    lunhui.status(id,'{:url("member_status")}');
}
//通过
function pass(id){
	lunhui.myconfirm(id, '{:url("passWithdraw")}', '确认通过吗？');
}
//拒绝
function refuse(id){
	lunhui.myconfirm(id, '{:url("refuseWithdraw")}', '确认拒绝？');
}
function showtxid(txid){
	// var str="<a href='https://www.omniexplorer.info/search/"+txid+"' target='_blank'>"+txid+"</a>";
	// layer.alert(str);
     {php}
    if(config('wallettype')=='omni'){
        $url='https://www.omniexplorer.info/search/';
    }
    if(config('wallettype')=='erc'){
        $url='https://etherscan.io/tx/';
    }
    {/php}

    var str="<a href='{$url}"+txid+"' target='_blank'>查看交易详情:"+txid+"</a>";
    // var str="<a href='https://www.omniexplorer.info/search/"+txid+"' target='_blank'>"+txid+"</a>";
    layer.alert(str);
}
</script>
</body>
</html>