{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style>.input-group-addon{width:15px;}</style>
<body class="gray-bg">
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>编辑用户</h5>
					<div class="ibox-tools">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
					</div>
				</div>
				<div class="ibox-content">
					<form class="form-horizontal" id="edit_member">
						<div class="form-group">
							<label class="col-sm-3 control-label">ID：</label>
							<div class="input-group">
								<input name="id" type="text" class="form-control" name="name" value="{$merchant.id}" placeholder="用户ID" readonly>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">姓名：</label>
							<div class="input-group">
								<input id="account" type="text" class="form-control" name="name" value="{$merchant.name}" placeholder="请输入姓名">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">手机号：</label>
							<div class="input-group">
								<input id="mobile" type="text" class="form-control" name="mobile" value="{$merchant.mobile}" placeholder="请输入手机号">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">密码：</label>
							<div class="input-group">
								<input id="password" type="text" class="form-control" name="password" placeholder="请输入密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">邀请人ID：</label>
							<div class="input-group">
								<input id="pid" type="text" class="form-control" name="pid" value="{$merchant.pid}" placeholder="请输入邀请人id">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">身份证号：</label>
							<div class="input-group">
								<input id="idcard" type="text" class="form-control" name="idcard" value="{$merchant.idcard}" placeholder="请输入身份证号">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">AppId：</label>
							<div class="input-group">
								<input id="appid" type="text" class="form-control" name="appid" value="{$merchant.appid}" placeholder="请输入appid">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">key：</label>
							<div class="input-group">
								<input id="key" type="text" class="form-control" name="key" value="{$merchant.key}" placeholder="请输入密钥">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">角色：</label>
							<div class="radio i-checks">
								<input type="radio" name='reg_type' value="1" {if $merchant.reg_type==1}checked{/if}/>商户 <input type="radio" name='reg_type' value="2" {if $merchant.reg_type==2}checked{/if}/>承兑商
								<input type="radio" name='reg_type' value="3" {if $merchant.reg_type==3}checked{/if}/>代理
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">状态：</label>
							<div class="input-group">
								<div class="radio i-checks">
									<input type="radio" name='status' value="1" {if $merchant.status==1}checked{/if}/>开启&nbsp;&nbsp; <input type="radio" name='status' value="0" {if $merchant.status== 0 }checked{/if}/>禁用&nbsp;&nbsp;
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">谷歌验证：</label>
							<div class="input-group">
								<input id="ga" type="text" class="form-control" name="ga" value="{$merchant.ga}" placeholder="请输入谷歌验证码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">提币手续费：</label>
							<div class="input-group">
								<input id="merchant_tibi_fee" type="text" class="form-control" name="merchant_tibi_fee" value="{$merchant.merchant_tibi_fee|round=###,4}" placeholder="请输入提币手续费"><span class="input-group-addon">个</span>
							</div>
						</div>
						<!-- 
						  <div class="form-group">
						   <label class="col-sm-3 control-label">USDT地址：</label>
						   <div class="input-group">
							   <input id="usdtb" type="text" class="form-control" name="usdtb" value="{$merchant.usdtb}" placeholder="USDT地址：">
						   </div>
					   </div> -->
						<div class="form-group">
							<label class="col-sm-3 control-label">用户充值手续费：</label>
							<div class="input-group">
								<input id="user_recharge_fee" type="text" class="form-control" name="user_recharge_fee" value="{$merchant.user_recharge_fee|round=###,4}" placeholder="请输入用户充值手续费"><span class="input-group-addon">%</span>
							</div>
						</div>
						<!--承兑商-->						{eq name="merchant['trader_check']" value="1"}
						<div class="form-group">
							<label class="col-sm-3 control-label">承兑商充值手续费：</label>
							<div class="input-group">
								<input id="trader_recharge_fee" type="text" class="form-control" name="trader_recharge_fee" value="{$merchant.trader_recharge_fee|round=###,4}" placeholder="请输入承兑商充值手续费"><span class="input-group-addon">%</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">承兑商卖单奖励：</label>
							<div class="input-group">
								<input id="trader_trader_get" type="text" class="form-control" name="trader_trader_get" value="{$merchant.trader_trader_get|round=###,4}" placeholder="请输入承兑商卖单奖励"><span class="input-group-addon">%</span>
							</div>
						</div>
						{/eq}
						<!--商户-->						{eq name="merchant['reg_type']" value="1"}
						<div class="form-group">
							<label class="col-sm-3 control-label">商户盘口费率：</label>
							<div class="input-group">
								<input id="merchant_pk_fee" type="text" class="form-control" name="merchant_pk_fee" value="{$merchant.merchant_pk_fee|round=###,4}" placeholder="请输入商户盘口费率"><span class="input-group-addon">%</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">商户盘口提币手续费：</label>
							<div class="input-group">
								<input id="user_withdraw_fee" type="text" class="form-control" name="user_withdraw_fee" value="{$merchant.user_withdraw_fee|round=###,4}" placeholder="请输入盘口提币手续费"> <span class="input-group-addon">%</span>
							</div>
						</div>
						{/eq}
						<!--代理-->						{eq name="merchant['reg_type']" value="3"} {eq name="merchant['agent_check']" value="1"}
						<div class="form-group">
							<label class="col-sm-3 control-label">下级承兑卖单佣金比例：</label>
							<div class="input-group">
								<input id="trader_parent_get" type="text" class="form-control" name="trader_parent_get" value="{$merchant.trader_parent_get|round=###,4}" placeholder="下级承兑卖单佣金比例"><span class="input-group-addon">%</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">下级承兑卖单利润比例：</label>
							<div class="input-group">
								<input id="tariff" type="text" class="form-control" name="tariff" value="{$merchant.tariff|round=###,4}" placeholder="下级承兑商卖单利润"><span class="input-group-addon">%</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">下级商户买订单利润比例：</label>
							<div class="input-group">
								<input id="trader_merchant_parent_get" type="text" class="form-control" name="trader_merchant_parent_get" value="{$merchant.trader_merchant_parent_get|round=###,4}" placeholder=""><span class="input-group-addon">%</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">是否开启商户代理购买订单利润：</label>
							<div class="input-group">
								<div class="radio i-checks">
									<input type="radio" name='enable_new_get' value="1" {if $merchant.enable_new_get==1}checked{/if}/>开启&nbsp;&nbsp; <input type="radio" name='enable_new_get' value="0" {if $merchant.enable_new_get==0 }checked{/if}/>关闭&nbsp;&nbsp;
								</div>
							</div>
						</div>
						{/eq}
						<div class="form-group">
							<label class="col-sm-3 control-label">商户代理利润：</label>
							<div class="input-group">
								<input id="trader_merchant_parent_get_new" type="text" class="form-control" name="trader_merchant_parent_get_new" value="{$merchant.trader_merchant_parent_get_new|round=###,4}" placeholder="商户代理购买订单利润"><span class="input-group-addon">%</span>
							</div>
						</div>
						{/eq}
						<div class="form-group">
							<label class="col-sm-3 control-label">匹配用户：</label>
							<div class="input-group col-sm-9">
								<div class="radio i-checks">
									<input type="checkbox" name='pptrader' value="1"/>选择所有 <br> {volist name="traders" id="vo"} <input type="checkbox" name='pptraders[]' {eq name='vo.ispp' value='1' }checked{/eq} value="{$vo.id}"/>{$vo.name}&nbsp;&nbsp; {/volist}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-3">
								<button class="btn btn-primary" type="button" id="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp; <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
	//提交
	$("#submit").click(function () {
		layer.confirm("确定保存?", {btn: ['确定', '取消'], title: "提示"}, function () {
			$.ajax({
				type    : 'POST',
				url     : "{:url('edit_merchant')}",
				data    : $('#edit_member').serialize(),
				dataType: 'json',
				success : function (data) {
					if (data.code == 1) {
						layer.msg(data.msg, {icon: 6, time: 1500, shade: 0.1}, function (index) {
							window.history.go(-1);
						});
					} else {
						layer.msg(data.msg, {icon: 5, time: 1500, shade: 0.1});
						return false;
					}
				}
			});
		});
	});
</script>
</body></html>
