<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>最安全的数字资产交易平台 - {:config('web_site_title')}</title>
	<link rel="shortcut icon" href="./favicon.ico">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__CSS__/layui.css" media="all">
	<link rel="stylesheet" href="__CSS__/global.css" media="all">
	<!--<link rel="stylesheet" href="__CSS__/common-combin.css" media="all">-->
	<style type="text/css">
		.layui-field-title{
			border:none;
		}
		.bClass{
			font-weight:500;
			font-size:20px;
			padding:5px 5px 10px 5px;
			border-bottom:1px solid #56aab7;
		}
		.pt10{padding-top:10px;}
	</style>
	<link id="layuicss-layer" rel="stylesheet" href="__CSS__/layer.css" media="all">
</head>
<body class="site-home">
<header style="background: url(__IMG__/home.jpg) no-repeat;background-size: cover;background-color: rgba(0,0,0,.6)">
	<div class="layui-header header header-index">
		<div class="layui-main">
			<a class="logo" href="/" style="line-height: 59px;height: 59px;top: 0;">
				<div class="layui-hide-xs" style="color: #fefefe;font-size:20px;font-weight:bold padding-left:10px; display: inline-block;">{:config('web_site_title')}</div>
			</a>
			<div class="layui-form component"></div>
			<ul class="layui-nav" style="font-size:18px!important;">
				<li class="layui-nav-item1">
					<a href="/login"> 登 录 </a>
				</li>
				<span class="layui-nav-bar" style="width: 0; left: 0; opacity: 0;"></span>
			</ul>
		</div>
	</div>
	<div class="site-banner">
		<div class="site-banner-main">
			<div class="site-zfj">
				<i class="layui-icon" style="color: #ffffff;"></i>
			</div>
			<div class="layui-anim site-desc">
				<p class="web-font-desc">安全、稳定、领先</p>
				<cite>全球首个场景化数字货币交易平台，撮合数字货币需求者和持有者进行交易，担保交易确保交易100%安全</cite>
			</div>
			<div class="site-download">
				<a href="/register" class="site-fork">注册全球账号</a><a href="/login" class="site-fork" style="margin-left: 12px;">开启交易之旅</a>
			</div>
			<div class="site-version">
				<cite style="color:#ffffff">7 x 24小时全天候交易</cite>
			</div>
			<div class="site-banner-other">
				<a rel="nofollow" class="site-fork">银联</a> <a rel="nofollow" class="site-fork">支付宝</a> <a rel="nofollow" class="site-fork">微信</a> <a rel="nofollow" class="site-fork">云闪付</a>
			</div>
		</div>
	</div>
</header>
<div class="layui-main">
	<ul class="site-idea">
		<li>
			<b class="bClass">联合担保</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">交易由平台和商家提供联合担保</p>
			</fieldset>
		</li>
		<li>
			<b class="bClass">先行赔付</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">交易过程中产生损失平台先行赔付</p>
			</fieldset>
		</li>
		<li>
			<b class="bClass">保证金</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">双方已向平台缴纳足额保证金</p>
			</fieldset>
		</li>
		<li>
			<b class="bClass">托管锁定</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">卖家出售USDT已托管锁定在平台</p>
			</fieldset>
		</li>
	</ul>
	<ul class="site-idea">
		<li>
			<b class="bClass">C2C点对点分散式交易</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">基于区块链的分布式记账体系，自动撮合平台客户与个人点对点交易，资金流向分散</p>
			</fieldset>
		</li>
		<li>
			<b class="bClass">高效清算，迅速到账</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">实时清算引擎让客户每一笔出入金，均在5分钟内到账</p>
			</fieldset>
		</li>
		<li>
			<b class="bClass">使用国际主流结算货币USDT</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">使用国际上主流的稳定的加密货币USDT进行交易</p>
			</fieldset>
		</li>
		<li>
			<b class="bClass">实时交易</b>
			<fieldset class="layui-elem-field layui-field-title">
				<p class="pt10">客户无需注册数字钱包，直接通过平台交易USDT即可</p>
			</fieldset>
		</li>
	</ul>
</div>
<div>
	<div class="layui-footer footer footer-index">
		<div class="layui-main">
			<p>Copyright © 2019 {:config('WEB_SITE_TITLE')} All rights reserved.</p>
		</div>
		<div class="layui-main">
			<p style="display: inline-block;"> {:config('WEB_SITE_ICP')}</p>
		</div>
	</div>
	<div class="site-mobile-shade"></div>
</div>
