    <!-- Main Footer -->
<footer class="main-footer hidden" style="">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <strong>Version</strong>&nbsp;&nbsp;0.5.1
    </div>
    <!-- Default to the left -->
    <strong>Powered by btc360</strong>
</footer>
</div>

<!-- ./wrapper -->

<script>
    function LA() {}
    LA.token = "hdMCdhk5gT8sPEOpfjfOro8DmTlYVlKsfRtHuxYl";
</script>

<!-- REQUIRED JS SCRIPTS -->
<script src="__JS__/jquery.nestable.js"></script>
<script src="__JS__/toastr.min.js"></script>
<script src="__JS__/bootstrap-editable.min.js"></script>
<script src="__JS__/sweetalert.min.js"></script>
<script src="__JS__/icheck.min.js"></script>
<script src="__JS__/bootstrap-colorpicker.min.js"></script>
<script src="__JS__/jquery.inputmask.bundle.min.js"></script>
<script src="__JS__/moment-with-locales.min.js"></script>
<script src="__JS__/bootstrap-datetimepicker.min.js"></script>
<script src="__JS__/canvas-to-blob.min.js"></script>
<script src="__JS__/fileinput.min.js"></script>
<script src="__JS__/select2.full.min.js"></script>
<script src="__JS__/bootstrap-number-input.js"></script>
<script src="__JS__/icheck.min.js"></script>
<script src="__JS__/ion.rangeSlider.min.js"></script>
<script src="__JS__/bootstrap-switch.min.js"></script>
<script src="__JS__/fontawesome-iconpicker.min.js"></script>
<script src="__JS__/jquery.bootstrap-duallistbox.min.js"></script>
<script src="__JS__/kindeditor-all-min.js"></script>
<script src="__JS__/zh-CN.js"></script>
<script src="__JS__/prettify.js"></script>

<script src="__JS__/laravel-admin.js"></script>

<script>
    $(function() {
        var interval = 5000;
        var $con = $('.sidebar-menu a[href!="#"]');
        if (!$con.length) return;
        var refresh = function () {
            $.get('http://we.btc360.io/admin/common/state', function (rs) {
                if (typeof rs == 'string') {
                    interval = interval > 60000 ? 60000 : interval * 2;
                    return setTimeout(refresh, interval);
                }
                interval = 5000;
                $con.find('.pull-right-container').remove();
                $con.each(function(){
                    var total = null;
                    if(this.href.indexOf('order_exception')>0){
                        total = rs.order_exception_total;
                    }
                    if(this.href.indexOf('payment_exception')>0){
                        total = rs.payment_exception_total;
                    }
                    if(this.href.indexOf('message')>0){
                        total = rs.message_total;
                        if(total == 0){
                            total = '';
                        }
                        $("#message_total").html(total);
                    }
                    if(!total){
                        return;
                    }
                    $(this).append('<span class="pull-right-container"><small class="label pull-right bg-red">' + total + '</small></span>');
                });
                setTimeout(refresh, interval);
            });
        };
        //refresh();
    });
</script>



</body></html>