*{
	margin:0;
	padding:0;
}
html{
	overflow-x:hidden;
}
body{
	width:100%;
	min-width:320px;
	margin:0 auto;
	font-family:"Microsoft Yahei";
	background:#ededed;
	color:#3f3f3f;
	overflow-x:hidden;
	text-align:left;
	position:relative;
	font-size:0.24rem;
}
/*不同设备字体em基准*/
html{
	font-size:42.6667px;
}
@media screen and (max-width: 320px){
  html{
  	font-size:42.6667px;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px){
  html{
  	font-size:48px;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px){
  html{
  	font-size:50px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px){
  html{
  	font-size:55px;
  }
}
@media screen and (min-width: 415px) and (max-width: 484px){
  html{
  	font-size:64px;
  }
}
@media screen and (min-width: 485px) and (max-width: 720px){
  html{
  	font-size:96px;
  }
}
@media screen and (min-width: 721px) and (max-width: 768px){
  html{
  	font-size:102px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px){
  html{
  	font-size:144px;
  }
}
@media screen and (min-width: 1080px){
  html{
  	font-size:144px;
  }
}
.hide {
    display: none;
}
img{
	border:none;
}
h1,h2,h3{
	font-weight:normal;
}
h3 {
    font-size: 0.24rem;
}
img{vertical-align:middle}
.red {
    color: red;
}
.content{padding:.2rem;}
.main {
    background: #e9e9e9;
    width: 100%;
	padding-bottom:50px;
}
.header{background:#778696;padding:10px;}
.header img{height:35px;}
.header span{font-size:0.22rem;}
.paycontent {
    background: #fff;
    border-radius: 0.02rem;
    margin-top: 0.2rem;
	padding:0.2rem;
}
.confirminfo .infodetail {
    position: relative;
    margin-left: 0.2rem;
    background: #f0fff0;
    margin-top: 0.2rem;
}
.p1050 {
    padding: 0.1rem 0.5rem;
}
.infodetail span {
    /*padding-left: 1rem;*/
}
.f14 {
    font-size: 0.25rem;
    font-weight: bold;
}
.mt20{margin-top:0.2rem}
.paydesk {
    position: relative;
}
.paydesk h3 {
    color: #44679b;
}
.p10 {
    padding: 0.1rem;
}
em {
    font-style: normal;
}
.paymethod li {
    border: 1px solid #ccc;
    display: inline-block;
    width: 20%;
    /*width: 29%;*/
    cursor: pointer;
}
.paydesk span.coundownspan {
    position: absolute;
    top: 0;
    right: 0;
}
.paymethod .active {
    border-color: #44679b;
}
.sellerinfo {
    height: 6.2rem;
    background: #eef7fd;
    border-radius: 0.1rem;
}
.sellerinfo ul {
    background: #88cbfb;
}
.sellerinfo ul li {
    width: atuo;
    display: inline-block;
    color: #fff;
}
.sellerinfo ul:nth-child(1){}
.erweima {
    text-align: center;
}
.erweima div img {
    width: 25%;
    height: 2.5rem;
}
.paybutton {
    text-align: center;
}
.paybutton button {
	height: 44px;
    width: 270px;
    color: #fff;
    padding: 0.1rem 0.2rem;
    cursor: pointer;
    border: 0;
    border-radius: 0.1rem;
    background: linear-gradient(270deg,#50B7F3,#0457C4);
}
.m10{margin-top:0.1rem;}
.red_p {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    background: #FA555C;
    color: #FFF;
    font-weight: 600;
    position: relative;
}
.red_p .red_arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #FA555C;
    left: 50%;
    bottom: -4px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.ti_p {
    margin-top: 15px;
    padding: 0 20px;
}
.ti_p .ticon {
    display: inline-block;
    width: 22px;
    height: 18px;
    background-image: url(../images/icons_shouyintai@2x.png);
    background-size: cover;
}
.ti_p .icon1 {
    background-position-x: 0px;
}
.ti_p .arrow {
    margin-left: 8px;
    vertical-align: super;
}
.ti_p .arrow span:first-child {
    display: inline-block;
    width: 48px;
    height: 1px;
    background: #C9E1FF;
    vertical-align: super;
}
.ti_p .arrow span:last-child {
    display: inline-block;
    border-top: 6px transparent solid;
    border-bottom: 6px transparent solid;
    border-left: 10px #C9E1FF solid;
    border-right: 10px transparent solid;
}
.ti_p .icon2 {
    width: 26px;
}
.ti_p .icon_wx {
    background-position-x: -26px;
}
.ti_p .icon_alipay {
    background-position-x: 84px;
}
.ti_p .icon3 {
    background-position-x: -56px;
}
.ti_p .icon_ysf {
    background-position-x: -143px;
}
.ti_t {
    margin-top: 5px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.ti_t>div {
    line-height: 14px;
    font-size: 10px;
    text-align: center;
}
.ti_t>div:nth-child(1) {
    width: 84px;
}
.ti_t>div:nth-child(2) {
    width: 60px;
}
.tc{text-align:center;}