{include file="Public:header_new"}
<style> .cards-item{ border:1px dashed #cccccc; padding:10px; margin-bottom:5px; background:#fbfbfb; }
.cards-item .form-group{ width:80%; margin-bottom:5px; }
.cards-item .btn-remove{ float:right; border:1px solid #cccccc; padding:5px; border-radius:2px;}.col-centered{display:inline-block;float:none;text-align:left;padding:0;}.w25{width:25%;position:relative;float:left;}</style>
<div class="content-wrapper" id="pjax-container" style="min-height: 706px;">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-danger">
					<div class="col-md-4 col-md-offset-4 col-centered">
						<p><h4 class="text-center" style="line-height:28px;">交易详情<span><div class="btn-group pull-right" style="margin-right: 10px"><a href="/merchant/adindex" class="btn btn-sm btn-danger"><i class="fa fa-chevron-circle-left"></i>&nbsp;返回列表</a></div></span></h4></p>
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
									<tbody>
									<tr>
										<th scope="row">卖家 ：</th>
										<td>{$AdOwner.name}</td>
									</tr>
									<tr>
										<th scope="row">交易次数 ：</th>
										<td>{$AdOwner.transact_buy}</td>
									</tr>
									<tr>
										<th scope="row">报价 ：</th>
										<td><span style="color:red;font-weight:bold">{$ad.price|round=###,4}</span> 元</td>
									</tr>
									<tr>
										<th scope="row">交易限额 ：</th>
										<td>{$ad.min_limit|round=###,2}-{$ad.max_limit|round=###,2} CNY</td>
									</tr>
									<tr>
										<th scope="row">付款方式 ：</th>
										<td>{if $ad.pay_method > 0}银行转账&nbsp;{/if}{if $ad.pay_method2 > 0}支付宝&nbsp;{/if}{if $ad.pay_method3 > 0}微信支付{/if}{if $ad.pay_method4 > 0}云闪付&nbsp;{/if}</td>
									</tr>
									<tr>
										<th scope="row">剩余数量 ：</th>
										<td>{$ad.RemainNum}</td>
									</tr>
									</tbody>
							</table>
						</div>
						<p><b> 交易须知：</b><br>1. 交易前请详细了解对方的交易信息。<br>2. 如遇到交易纠纷，可通过申诉来解决问题。<br>3. 在您发起交易请求后，币被锁定在托管中，受到平台保护。如果您是买家，发起交易请求后，请在付款周期内付款并把交易标记为付款已完成。卖家在收到付款后将会放行处于托管中的币。<br/></p>
						<form id="tradeForm" role="form" method="post" autocomplete="off">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">数额</div>
									<input type="text" class="form-control text-center" name="amount" value="" id="amount0">
									<div class="input-group-addon">CNY</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">数量</div>
									<input type="text" class="form-control text-center" name="qty" value="" id="qty0">
									<div class="input-group-addon">USDT</div>
								</div>
								<input type="hidden" name="tid" value="{$ad.id}">
							</div>
							{if $ga == 1}
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">谷歌验证码</div>
									<input type="text" name="ga" value="" class="form-control text-center">
								</div>
							</div>
							{/if}
							<p><label class="control-label"><em class="text-danger">*</em> 收款方式：</label></p>
							<div class="form-group text-center">
								<div class="input-group form-group-sm col-sm-12" style="display:inline-block;">
									<div class="w25 p0">
										<select class="form-control text-center" name="bank">
											<option value="">银行</option>
											{volist name="banks" id="v"}
											<option value="{$v.id}">{$v.name}({$v.c_bank})</option>
											{/volist} </select>
									</div>
									<div class="w25 p0">
										<select class="form-control text-center" name="zfb">
											<option value="">支付宝</option>
											{volist name="zfb" id="v"}
											<option value="{$v.id}">{$v.name}({$v.c_bank})</option>
											{/volist} </select>
									</div>
									<div class="w25 p0">
										<select class="form-control text-center" name="wx">
											<option value="">微信</option>
											{volist name="wx" id="v"}
											<option value="{$v.id}">{$v.name}({$v.c_bank})</option>
											{/volist} </select></div>
									<div class="w25 p0">
										<select class="form-control text-center" name="ysf">
											<option value="">云闪付</option>
											{volist name="ysf" id="v"}
											<option value="{$v.id}">{$v.name}</option>
											{/volist} </select></div>
								</div>
							</div>
							<button type="button" class="btn btn-success btn-lg btn-block" onclick="trade()">提交</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script src="/static/admin/js/layer/layer.js"></script>
<script> let type = 0;
var price = {$ad.price};
function getnum(num, ss) {
	if (num.indexOf(".") != "-1") {
		let barr = num.split(".");
		let org = barr[1].substr(0, ss);
		xin = parseFloat(barr[0] + "." + org);
		return xin;
	}
}
$('#amount' + type).css("ime-mode", "disabled").bind('keyup change', function () {
	let amount = $('#amount' + type).val();
	if (amount.indexOf(".") != "-1") {
		let barr = amount.split(".");
		let xiaoshu = barr[1].length;
		if (xiaoshu > 2) {
			let org = barr[1].substr(0, xiaoshu - 1);
			let xin = parseFloat(barr[0] + "." + org);
			$("#amount" + type).val(xin);
		}
	}
	btcnum = ($('#amount' + type).val() / price).toFixed(10);
	btcnum = getnum(btcnum, 8);
	$('#qty' + type).val(btcnum);
});
$('#qty' + type).css("ime-mode", "disabled").bind('keyup change', function () {
	let amount = $('#qty' + type).val();
	if (amount.indexOf(".") != "-1") {
		let barr = amount.split(".");
		let xiaoshu = barr[1].length;
		if (xiaoshu > 8) {
			let org = barr[1].substr(0, xiaoshu - 1);
			let xin = parseFloat(barr[0] + "." + org);
			$("#qty" + type).val(xin);
		}
	}
	btcnum = ($('#qty' + type).val() * price).toFixed(4);
	btcnum = getnum(btcnum, 2);
	$('#amount' + type).val(btcnum);
});
function trade() {
	let amount = $('input[name="amount"]').val();
	let qity = $('input[name="qity"]').val();
	let mint = {$ad.min_limit};
	let maxt = {$ad.max_limit};
	if (amount == '') {
		layer.tips('请输入要出售的金额', '#qty' + type, {tips: 3});
		return false;
	}
	if (qity == '') {
		layer.tips('请输入要出售的数量', '#qty' + type, {tips: 3});
		return false;
	}
	if (amount < 0) {
		layer.alert('金额必须大于0');
		return false;
	}
	if (amount < mint) {
		layer.alert('金额小于最小限额');
		return false;
	}
	if (amount > maxt) {
		layer.alert('金额大于最大限额');
		return false;
	}
	layer.load(0, {shade: [0.5, '#8f8f8f']});
	$.ajax({
		url     : "/home/merchant/trade_ajax", type: "post", data: $('#tradeForm').serialize(), success: function (data) {
			if (data.code == 1) {
				layer.msg(data.msg, {icon: 1});
				setTimeout(function () {window.location= '/merchant/ordersell';}, 1000);
				return false
			} else {layer.msg(data.msg, {icon: 2});}
		}, error: function (err) {
			console.log(err);
			layer.msg('挂单错误, 请稍后重试')
		}
	});
	setTimeout(function () {layer.closeAll('loading');}, 1200);
	return false;
}
</script>
{include file="Public:footer_new"/}