{include file="Public:header_new"}
<style> .cards-item{ border:1px dashed #cccccc; padding:10px; margin-bottom:5px; background:#fbfbfb; }
.cards-item .form-group{ width:80%; margin-bottom:5px; }
.cards-item .btn-remove{ float:right; border:1px solid #cccccc; padding:5px; border-radius:2px;}
.row-centered{text-align:center;margin-top:10px;}
.col-centered{display:inline-block;float:none;text-align:left;border:1px solid #ddd;padding:0;}
.tab-li{width:50%;text-align:center;}
.w25{width:25%;position:relative;float:left;} </style>
<div class="content-wrapper" id="pjax-container" style="min-height: 706px;">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="row row-centered">
						<div class="col-md-4 col-centered">
							<ul class="nav nav-tabs">
								<li class="tab-li"><a style="font-size:22px;color:#aeb2b7;border:none;border-bottom:2px solid #aeb2b7" href="/merchant/newad">卖出</a></li>
								<li class="active tab-li"><a data-toggle="tab" style="font-size:22px;color:#ee6560;border:none;border-bottom:2px solid #ee6560" href="#buy-tab">买入</a></li>
							</ul>
							<div class="tab-content">
								<div id="buy-tab" class="tab-pane in active">
									<section class="">
										<div class="panel-body">
											<form id="newBuyForm"  role="form" autocomplete="off">
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon">数量</div>
														<input type="text" class="form-control text-center" name="amount" id="amount" value="" onkeyup="jisuan()">
														<div class="input-group-addon">USDT</div>
													</div>
												</div>
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon">总价</div>
														<input type="text" class="form-control text-center" placeholder="最低100" id="total_price" value="" onkeyup="calcAmt()">
														<div class="input-group-addon">CNY</div>
													</div>
												</div>
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon">单价</div>
														{if $usdt_price_way == 1}
														<input type="text" name="price" id="price" value="{:getUsdtPrice()}" class="form-control text-center" readonly>
														{elseif $usdt_price_way == 0}
														<input type="text" onblur="jisuan()" class="form-control" name="price" id="price" value="" placeholder="价格区间{$usdt_price_min}~{$usdt_price_max}"/>
														{elseif $usdt_price_way == 2}
														<input type="text" class="form-control" name="price" id="price" value="{$priceLimit}" readOnly/>
														{/if}
														<div class="input-group-addon">CNY</div>
													</div>
												</div>
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon">最小金额</div>
														<input type="text" class="form-control text-center" name="min_limit" id="min_limit" placeholder="限额100~300" value="100">
														<div class="input-group-addon">CNY</div>
													</div>
												</div>
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon">最大金额</div>
														<input type="text" class="form-control text-center" name="max_limit" id="max_limit" onblur="getMax()" placeholder="单笔最大交易金额">
														<div class="input-group-addon">CNY</div>
													</div>
												</div>
												<p><label class="control-label"><em class="text-danger">*</em> 收款方式：</label></p>
												<div class="form-group text-center">
													<div class="input-group form-group-sm col-sm-12" style="display:inline-block;">
														<div class="w25 p0">
															<select class="form-control text-center" name="bank">
																<option value="">银行</option>
																{volist name="banks" id="v"}
																<option value="{$v.id}">{$v.name}({$v.c_bank})</option>
																{/volist} </select>
														</div>
														<div class="w25 p0">
															<select class="form-control text-center" name="zfb">
																<option value="">支付宝</option>
																{volist name="zfb" id="v"}
																<option value="{$v.id}">{$v.name}({$v.c_bank})</option>
																{/volist} </select>
														</div>
														<div class="w25 p0">
															<select class="form-control text-center" name="wx">
																<option value="">微信</option>
																{volist name="wx" id="v"}
																<option value="{$v.id}">{$v.name}({$v.c_bank})</option>
																{/volist} </select></div>
														<div class="w25 p0">
															<select class="form-control text-center" name="ysf">
																<option value="">云闪付</option>
																{volist name="ysf" id="v"}
																<option value="{$v.id}">{$v.name}</option>
																{/volist} </select></div>
													</div>
												</div>
												<button type="button" class="btn btn-danger btn-lg btn-block"  onclick="newAdBuy()">
													买入USDT
												</button>
											</form>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
					<hr/>
					<div class="tab-content table-responsive">
						<div class="" id="tab_886859313">
							<table class="table">
								<thead>
								<tr>
									<th>编号</th>
									<th>价格</th>
									<th>数量</th>
									<th>剩余</th>
									<th>创建时间</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>{volist name="list" id="vo"}
								<tr>
									<td>{$vo.ad_no}</td>
									<td>¥ {$vo.price|round=###,6}</td>
									<td>{$vo.deal}</td>
									<td>{$vo.remain}</td>
									<td>{$vo['add_time']|date="m-d H:i:s",###}</td>
									<td>{eq name="vo.state" value="1"}进行中{/eq} {eq name="vo.state" value="2"}完成{/eq} {eq name="vo.state" value="4"}冻结{/eq}</td>
									<td>{eq name="vo.state" value="1"}<a id="{$vo.id}" class="btn btn-sm btn-info down">撤单</a>{/eq}
									</td>
								</tr>
								{/volist}
								</tbody>
							</table>
						</div>
						<div class="box-footer clearfix">{$list->render()}</div>
					</div>
				</div>
				<script></script>
			</div>
		</div>
	</section>
	<script src="/static/admin/js/layer/layer.js"></script>
	<script> let type = 1;
	function calcAmt() {
		$('#amount').val(($('#total_price').val() / $('#price').val()).toFixed(8));
		$('#max_limit').val($('#total_price').val());
	}
	function jisuan() {
		let amount = $('#amount').val();
		let price = $('#price').val();
		$('#total_price').val((amount * price).toFixed(2));
		$('#max_limit').val((amount * price).toFixed(2));
	}
	function getMax() {
		let max_limit = $('#max_limit').val();
		let amount = $('#amount').val();
		let price = $('#price').val();
		let max = (amount * price).toFixed(2);
		if (max < max_limit) {$('#max_limit').val(max);}
	}
	function closePopUp() {layer.closeAll('loading');}
	$('.down').click(function () {
		layer.load(0, {shade: [0.5, '#8f8f8f']});
		$.post("{:url('home/merchant/setShelfbuy')}", {id: $(this).attr('id'), type: type, act: 2}, function (data) {
			shelf = data.url;
			setTimeout("closePopUp()", 4000);
			if (data.code == 1) {
				layer.msg(data.msg, {icon: 1});
				window.location.reload();
			} else {layer.msg(data.msg, {icon: 2});}
		});
	});
	$('.up').click(function () {
		layer.load(0, {shade: [0.5, '#8f8f8f']});
		$.post("{:url('home/merchant/setShelfbuy')}", {id: $(this).attr('id'), type: type, act: 1}, function (data) {
			shelf = data.url;
			setTimeout("closePopUp()", 4000);
			if (data.code == 1) {
				layer.msg(data.msg, {icon: 1});
				window.location.reload();
			} else {layer.msg(data.msg, {icon: 2});}
		});
	});
	$('.dong').click(function () {
		layer.load(0, {shade: [0.5, '#8f8f8f']});
		setTimeout("closePopUp()", 3000);
		layer.msg('请联系管理员解除冻结!', {icon: 2});
	});
	function newAdBuy() {
		layer.load(0, {shade: [0.5, '#8f8f8f']});
		$.ajax({
			url     : "/merchant/newadbuy", type: "post", data: $('#newBuyForm').serialize(), success: function (data) {
				if (data.code == 1) {
					layer.msg(data.msg, {icon: 1});
					setTimeout(function () {window.location.reload();}, 1000);
				} else {layer.msg(data.msg, {icon: 2});}
			}, error: function (err) {
				console.log(err);
				layer.msg('挂单错误, 请稍后重试')
			}
		});
		setTimeout(function () {layer.closeAll('loading');}, 1200);
		return false;
	}</script>
</div>{include file="Public:footer_new"/}