<div style="padding:10px;">
	<div style="text-align:center;"><label>支付金额</label>：<font color="red" style="font-weight:bold;">{$order.deal_amount}</font>
	</div>
    {php}
    if($order['sell_id']==session('uid')){
     echo '<div style="margin-top:10px;text-align:center;">
		<lable style="display:inline-block;width:20%;">买家信息：</lable>
		<div style="display:inline-block;">
			<p style="margin:0;text-align:left;"><label style="">手机号</label>：'.$merchant['mobile'].'</p>
			<p style="margin:0;text-align:left;"><label style="margin:0;text-align:left;">昵称</label>：'.$merchant['name'].'</p>
		</div>
</div>';
}else{


    if($order['pay3']>0){
    echo '<div style="margin-top:10px;text-align:center;">
        <lable style="display:inline-block;width:20%;">微信支付：</lable><img src="/uploads/face/'.$merchant['c_wechat_img'].'" style="width:200px;height:200px;" />
	</div>
</div>';
}else{
}
if($order['pay']>0){
echo '<div style="margin-top:10px;text-align:center;">
	<lable style="display:inline-block;width:20%;">银行转账：</lable>
	<div style="display:inline-block;">
		<p style="margin:0;text-align:left;"><label style="">真实姓名</label>：'.$merchant['name'].'</p>
		<p style="margin:0;text-align:left;"><label style="margin:0;text-align:left;">开户银行</label>：'.$merchant['c_bank'].'</p>
		<p style="margin:0;"><label style="margin:0;text-align:left;">银行卡号</label>：'.$merchant['c_bank_card'].'</p>
	</div>
</div>';
}else{
}
if($order['pay2']>0){
echo '<div style="margin-top:10px;text-align:center;">
    <lable style="display:inline-block;width:20%;">支付宝：</lable><div style="display:inline-block;">
	<p style="margin:0;text-align:left;"><label style="">真实姓名</label>：'.$merchant['c_alipay_name'].'</p>
	<p style="margin:0;text-align:left;"><label style="margin:0;text-align:left;">账户</label>：'.$merchant['c_alipay_acc'].'</p>
</div><img src="/uploads/face/'.$merchant['c_alipay_img'].'" style="width:200px;height:200px;" />
    </div>
</div>';
}else{
}
}
{/php}