<div style="padding:10px;text-align:center;">
	<div style=""><h4>支付金额：<span style="color:red;font-weight:bold;">{$order.deal_amount|round=###,2} </span>元</h4></div>
	{if $order['sell_id'] == $uid}
	<h4>【 买家信息 】</h4>
	<h4><label>手机号</label>：{$user.mobile}</h4>
	<h4><label>昵称</label>：{$user.name}</h4>
</div>
{else}
{if $order.pay > 0}
<div style="margin-top:10px;">
	<h4>【 银行转账 】</h4>
</div>
<div style="display:inline-block;">
	<p style="text-align:left;"><label>真实姓名</label>：{$user.bank.truename}</p>
	<p style="text-align:left;"><label style="text-align:left;">开户银行</label>：{$user.bank.c_bank}</p>
	<p><label style="text-align:left;">银行卡号</label>：{$user.bank.c_bank_card}</p>
</div>
{/if}
{/if}  {if $order.pay2 > 0}
<div style="margin-top:10px;">
<h4>【 支付宝 】</h4>
</div>
<div style="display:inline-block;">
	<p style="text-align:left;"><label>姓名</label>：{$user.alipay.truename}</p>
	<p style="text-align:left;"><label>账户</label>：{$user.alipay.c_bank}</p>
	<div id="alipay_qrcode"></div>
</div>

<script>var canvas = document.createElement('canvas');$('#alipay_qrcode').qrcode({render: "canvas", size: 180, text: '{$user.alipay.qrcode}'});</script>
{/if}
{if $order.pay2 > 0}
<div style="margin-top:10px;">
	<h4>【 微信 】</h4>
</div>
<div style="display:inline-block;">
	<p style="text-align:left;"><label>姓名</label>：{$user.wx.truename}</p>
	<p style="text-align:left;"><label>手机</label>：{$user.wx.c_bank}</p>
<div id="wx_qrcode"></div>
</div>
<script>var canvas = document.createElement('canvas');$('#wx_qrcode').qrcode({render: "canvas", size: 180, text: '{$user.wx.qrcode}'});</script>
{if $order.pay3 > 0}
<div style="margin-top:10px;"></div>
<div style="display:inline-block;">
	<h4>【 云闪付 】</h4>
	<p style="text-align:left;"><label>姓名</label>：{$user.union.truename}</p>
	<p style="text-align:left;"><label>手机号</label>：{$user.union.c_bank}</p>
	<div id="union_qrcode"></div>
</div>
<script>var canvas = document.createElement('canvas');$('#union_qrcode').qrcode({render: "canvas", size: 180, text: '{$user.union.qrcode}'});</script>
{/if}
{/if}