g<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__CSS__/paymobile.css">
    <script type="text/javascript" charset="utf-8" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/rem.js"></script>
    <script src="__JS__/pay/clipboard.min.js"></script>
</head>
<body>
<div class='main'>
	<div class='content'>

		<!-- 内容开始 -->
		<div class="paycontent">
			<p class="red_p">输错金额和多次支付,自己承担损失 <span class="red_arrow"></span></p>
			<!-- 确认信息开始 -->
			<div class="confirminfo">
				<h3>请确认您的充值信息:</h3>
				<div class="infodetail">
					<p class='p1050'>购买数量：<span  class="red">{$amount} USDT</span></p>
					<p class='p1050'>支付金额：<span class="red">￥<font class='f14'>{$money}</font>元</span></p>
					<p class='p1050' id="copy1" data-clipboard-target="#adno">订单号：<span class="red"><font class='f14' id="adno" >{$no}</font></span><a id="fz">(点击复制)</a></p>
				</div>
			</div>
			<!-- 确认信息结束 -->
			<!-- 收银台开始 -->
			<div class="paydesk mt20">
				<span>
					支付倒计时：<font class="red"><em id='minute'>00</em>:<em id='second'>00</em></font>
				</span>
				<h3 class="mt20">交易方式</h3>
				<ul class="paymethod mt10">
						{volist name="payarr" id="vo"}
						{eq name="vo" value="3"}
						<li class="p10 {eq name='key' value='0'}active{/eq}" onclick="" data-class='alipay' data-type="{$vo}">
							<img src="__IMG__/alipay.png"/>支付宝扫码
						</li>
						{/eq}
						{gt name="vo" value="4"}
						<li class="p10 {eq name='key' value='0'}active{/eq}" data-class='bank' data-type="2">
							<img src="__IMG__/bank.png"/>银联卡转账
						</li>
						{/gt}
						{eq name="vo" value="4"}
						<li class="p10 {eq name='key' value='0'}active{/eq}" data-class='wechatpay' data-type="4">
							<img src="__IMG__/wechatpay.png"/>微信扫码
						</li>
						{/eq}
						{/volist}
				</ul>
				<div class='trade-knowledge mt20'>
					<div class='sellerinfo'>
						<ul class='p10'>
							<li>卖家信用</li>
							<li>成功交易笔数：{$merchant.transact}笔</li>
							<li>平均确认时间：{$min}分{$second}秒</li>
						</ul>
						{volist name="payarr" id="vo"}
						{eq name="vo" value="3"}
						<div class='alipay erweima {gt name="key" value="0"}hide{/gt}'>
							<p class='f14 p10'>请用<img src="__IMG__/alipay2.png" class='w80'/>扫码完成支付</p>
							<div class='mt10 payma'>
								<img src="/uploads/face/{$merchant.c_alipay_img}" style=''/>
							</div>

							<p class='p10'>支付完成后，请点击下方的"提醒卖家收款-我已付款"按钮</p>
							<!-- 支付方法 -->
					<div class='tc'>
						<p class="ti_p">
						<span class="ticon icon1"></span><span class="arrow"><span></span><span></span></span> <span class="ticon icon2 icon_alipay" id="type_icon"></span><span class="arrow"><span></span><span></span></span> <span class="ticon icon3"></span>
						</p><div class="ti_t">
						<div>
						<p>截屏将二维码<br>保存至本地相册</p>
						</div>
						<div>
						<p>打开<span class="pay_type">支付宝</span><br>选择扫一扫</p>
						</div>
						<div>
						<p>从本地相册选择<br>选取截屏二维码</p>
						</div>
						</div>
					</div>
					<!-- 支付方法 -->
						</div>
						{/eq}
						{gt name="vo" value="4"}
						<div class='bank erweima {gt name="key" value="0"}hide{/gt}'>
							<p class='f14 p10'>请用<img src="__IMG__/bank.png"/>完成支付</p>
							<div class='mt10 bankinfo'>
								<p>姓名：{gt name='remaintime' value='0'}{$merchant.name}{/gt}</p>
								<p class='mt10'>银行卡号：{gt name='remaintime' value='0'}{$merchant.c_bank_card}{/gt}</p>
							</div>

							<p class='p10' style="margin-top: 2rem;color:red;">支付完成后，请点击下方的"我已付款"按钮</p>
						</div>
						{/gt}
						{eq name="vo" value="4"}
						<div class='wechatpay erweima {gt name="key" value="0"}hide{/gt}'>
							<p class='f14 p10'>请用<img src="__IMG__/wechatpay.png"/>扫码完成支付</p>
							<div class='mt10 payma'>
								<img src="/uploads/face/{$merchant.c_wechat_img}" style=''/>
							</div>
							<p class='p10'>支付完成后，请点击下方的"我已付款"按钮</p>
							<!-- 支付方法 -->
					<div class='tc'>
						<p class="ti_p">
						<span class="ticon icon1"></span><span class="arrow"><span></span><span></span></span> <span class="ticon icon2 icon_wx" id="type_icon"></span><span class="arrow"><span></span><span></span></span> <span class="ticon icon3"></span>
						</p><div class="ti_t">
						<div>
						<p>截屏将二维码<br>保存至本地相册</p>
						</div>
						<div>
						<p>打开<span class="pay_type">微信</span><br>选择扫一扫</p>
						</div>
						<div>
						<p>从本地相册选择<br>选取截屏二维码</p>
						</div>
						</div>
					</div>
					<!-- 支付方法 -->
						</div>
						{/eq}
						{/volist}
					</div>
				</div>
			</div>
			<!-- 收银台结束 -->
		</div>
	</div>
</div>
<div class='paybutton mt20' style="margin-top: -0.5rem;">
	<input type="hidden" name="paymethod" value="{$payarr[0]}"/>
	{gt name='remaintime' value='0'}
	<button type="button" onclick="uptrade()" class='paybutton'>我已付款{$money}</button>
	{else/}
	<button type="button" class='paybutton'>订单已关闭</button>
	{/gt}
</div>
</body>
<script>
	var copy1T;
	var clipboard1 = new ClipboardJS('#copy1');
		clipboard1.on('success', function(e) {
			$("#fz").html("(复制成功)")
			clearTimeout(copy1T);
			copy1T = setTimeout(function() {
				$("#fz").html("(点击复制)")
			}, 2000)
			e.clearSelection()
		});
var flag;
$('.usdt').mouseover(function(){
	$('.descusdt').show();
});
$('.usdt').mouseout(function(){
	$('.descusdt').hide();
});
$('.paymethod li').click(function(){
	var type = $(this).attr('data-type');
	var showclass = $(this).attr('data-class');
	$('.paymethod li').removeClass('active');
	$(this).addClass('active');
	$('input[name="paymethod"]').val(type);
	$('.erweima').hide();
	$('.'+showclass).show();
})
var remaintime = {$remaintime|default=0};
if(remaintime > 0){
	resetTime(remaintime);
}
CheckOutTime();
function resetTime(time){
  var timer=null;
  var t=time;
  var m=0;
  var s=0;
  m=Math.floor(t/60%60);
  m<10&&(m='0'+m);
  s=Math.floor(t%60);
  function countDown(){
   s--;
   s<10&&(s='0'+s);
   if(s.length>=3){
    s=59;
    m="0"+(Number(m)-1);
   }
   if(m.length>=3){
    m='00';
    s='00';
    clearInterval(timer);
   }
   $('#minute').html(m);
   $('#second').html(s);
   //console.log(m+"分钟"+s+"秒");
  }
  timer=setInterval(countDown,1000);
}
function CheckOutTime(){
	var id = {$id|default=0};
	$.post('{:url("home/merchant/CheckOutTime")}', {id:id}, function(data){
		if(data.code === 1){
			clearTimeout(flag);
			$('.payma img').attr('src', '__IMG__/outtime.png');
			$('.bankinfo').hide();
			$('.infodetail p span').html('订单已关闭');
			$('.paybutton').attr('disabled', true);
		}else{
			flag=setTimeout('CheckOutTime()',3000);
		}
	})

}
function uptrade(){
	if(!confirm('确认继续操作吗？')){
		return false;
	}
	var appid = "{$appid|default=''}";
	var id = {$id|default=0};
	$.post('{:url("home/merchant/uptrade")}', {id:id, appid:appid}, function(data){
		if(data.code == 1){
			alert('操作成功，请等待承兑商释放');window.location.href=data.msg;
		}else{
			alert(data.msg);
		}
	})
}
</script>
</html>