{eq name="flag" value="1"}{include file="Public:header_new"/}
<div class="content-wrapper" id="pjax-container" style="min-height: 706px;">{else/} {/eq}
	<section class="content-header"><h1>用户设置 <small></small></h1></section>
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-danger">
					<div class="box-header with-border"><h3 class="box-title">编辑</h3>
						<div class="box-tools"></div>
					</div><!-- /.box-header --><!-- form start -->
					<form action="{:url('home/merchant/dosetting')}" method="post" accept-charset="UTF-8" class="form-horizontal" enctype="multipart/form-data">
						<div class="box-body">
							<div class="fields-group">
								<div class="form-group "><label class="col-sm-2  control-label">用户名</label>
									<div class="col-sm-8">
										<div class="box box-solid box-default no-margin"><!-- /.box-header -->
											<div class="box-body">{$Think.session.user['mobile']}</div><!-- /.box-body --></div>
									</div>
								</div>
								<div class="form-group"><label for="name" class="col-sm-2  control-label">姓名</label>
									<div class="col-sm-8">
										<div class="input-group"><span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span> <input type="text" id="name" name="name" value="{$Think.session.user['name']}" class="form-control name" placeholder="输入姓名"></div>
									</div>
								</div>
								<div class="form-group">
									<div id="kvFileinputModal" class="file-zoom-dialog modal fade" tabindex="-1" aria-labelledby="kvFileinputModalLabel">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<div class="kv-zoom-actions pull-right">
														<button type="button" class="btn btn-default btn-header-toggle btn-toggleheader" title="Toggle header" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-vertical"></i></button>
														<button type="button" class="btn btn-default btn-fullscreen" title="Toggle full screen" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-fullscreen"></i></button>
														<button type="button" class="btn btn-default btn-borderless" title="Toggle borderless mode" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-full"></i></button>
														<button type="button" class="btn btn-default btn-close" title="Close detailed preview" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
													</div>
													<h3 class="modal-title">Detailed Preview <small><span class="kv-zoom-title"></span></small></h3></div>
												<div class="modal-body">
													<div class="floating-buttons"></div>
													<div class="kv-zoom-body file-zoom-content"></div>
													<button type="button" class="btn btn-navigate btn-prev" title="View previous file"><i class="glyphicon glyphicon-triangle-left"></i></button>
													<button type="button" class="btn btn-navigate btn-next" title="View next file"><i class="glyphicon glyphicon-triangle-right"></i></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2  control-label">新登录密码</label>
								<div class="col-sm-8">
									<div class="input-group"><span class="input-group-addon"><i class="fa fa-eye-slash fa-fw"></i></span> <input type="password" id="password" name="password" value="" class="form-control password" placeholder="输入新登录密码"></div>
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2  control-label">确认新登录密码</label>
								<div class="col-sm-8">
									<div class="input-group"><span class="input-group-addon"><i class="fa fa-eye-slash fa-fw"></i></span> <input type="password" id="password_confirmation" name="password_confirmation" value="" class="form-control password_confirmation" placeholder=" 确认新登录密码"></div>
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2  control-label">新交易密码</label>
								<div class="col-sm-8">
									<div class="input-group"><span class="input-group-addon"><i class="fa fa-eye-slash fa-fw"></i></span> <input type="password" id="paypassword" name="paypassword" value="" class="form-control password" placeholder="输入新交易密码"></div>
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2  control-label">确认新交易密码</label>
								<div class="col-sm-8">
									<div class="input-group"><span class="input-group-addon"><i class="fa fa-eye-slash fa-fw"></i></span> <input type="password" id="paypassword_confirmation" name="paypassword_confirmation" value="" class="form-control password_confirmation" placeholder="确认新交易密码">
									</div>
								</div>
							</div><!--<div class="form-group"> <label class="col-sm-2  control-label">短信验证码</label> <div class="col-sm-8"> <div class="input-group"> <input type="number" id="code" name="code" value="" class="form-control password_confirmation" placeholder="输入短信验证码"> <span id="getcode" class="input-group-addon" onclick="getcode()" style="cursor:default;background: #00c0ef;color:#fff">获取验证码</span> </div> </div> </div>-->
							<div class="form-group text-center">
								<div class="btn-group ">
									<button type="submit" class="btn btn-info" data-loading-text="&lt;i class=&#39;fa fa-spinner fa-spin">保存</button>
									<button type="reset" class="btn btn-warning">重置</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script src="/static/admin/js/layer/layer.js"></script>
	<script> $(function () {
		$("input.avatar").fileinput({
			"overwriteInitial"    : true,
			"initialPreviewAsData": true,
			"browseLabel"         : "\u6d4f\u89c8",
			"showRemove"          : false,
			"showUpload"          : false,
			"deleteExtraData"     : {"avatar": "_file_del_", "_file_del_": "", "_token": "NMTpuxZn8hIn4gtRifTX85NwwTcNuM8UsF6ClPne", "_method": "PUT"},
			"deleteUrl"           : "http:\/\/we.btc360.io\/admin\/386",
			"allowedFileTypes"    : ["image"]
		});
	});
	$('.avatar').change(function () {
		let url = getObjectURL(this.files[0]); /*获取本地的文件地址*/
		if (url) {/*$(this).parent().find('img').attr('src',url);//修改图片路径*/
			$('.kv-preview-data').attr('src', url);
		} else {/*$(this).parent().find('img').attr('src',defaultimage);*/
			$('.kv-preview-data').attr('src', url);
		}
	});
	let time = 60;
	function getcode() {
		let mobile = {$Think.session.user['mobile']};
		if (!mobile) {
			layer.msg('请输入手机号');
			return false;
		}/* $.post("{:url('Home/Login/sendPhoneCodeModify')}",{mobile:mobile},function(data){ layer.msg(data.msg); if(data.code == 0){ $("#getcode").html("获取验证码"); $("#getcode").attr("onclick",'getcode()'); return false; }else{ let timer=setInterval(function(){ if(time>0){ $("#getcode").html(time+'s　'); $("#getcode").attr("onclick", ''); time--; }else{ time=60; $("#getcode").html("获取验证码"); $("#getcode").attr("onclick",'getcode()'); clearInterval(timer) } },1000) } })*/
	}/*本地URL地址解析*/
	function getObjectURL(file) {/*不存在选择路径补null*/
		file = file ? file : null;
		if (file == null) {return null;}
		let url = null;
		if (window.createObjectURL != undefined) { /* basic*/
			url = window.createObjectURL(file);
		} else if (window.URL != undefined) { /* mozilla(firefox)*/
			url = window.URL.createObjectURL(file);
		} else if (window.webkitURL != undefined) { /* webkit or chrome*/
			url = window.webkitURL.createObjectURL(file);
		}
		return url;
	}</script>
	{eq name="flag" value="1"} {include file="Public:footer_new"/}
</div>{else/}{/eq}