{include file="Public:header_new"}
    <div class="content-wrapper" id="pjax-container" style="min-height: 706px;">
            <section class="content-header"><h1>
            提币记录
            <small>列表</small>
        </h1>

        <!-- breadcrumb start -->
                <!-- breadcrumb end -->

    </section><section class="content"><div class="row"><div class="col-md-12">
<div class="box">
    <div class="box-header">

        <h3 class="box-title"></h3>

        <div class="pull-right">
            <div class="btn-group pull-right" style="margin-right: 10px">
    <a data-href="" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filter-modal"><i class="fa fa-filter"></i>&nbsp;&nbsp;筛选</a>
    <a href="/merchant/withdraw" class="btn btn-sm btn-facebook"><i class="fa fa-undo"></i>&nbsp;&nbsp;重置</a>
</div>

<div class="modal fade" id="filter-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">筛选</h4>
            </div>
            <form action="/merchant/withdraw" method="get" pjax-container="">
                <div class="modal-body">
                    <div class="form">
                    <div class="form-group">
                                <div class="form-group">
    <label>订单号</label>
    <div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-pencil"></i>
    </div>
    <input type="text" class="form-control username" placeholder="订单号" name="ordersn" value="">
</div>
</div>
                            </div>
                                                    <div class="form-group">
                                <div class="form-group">
    <label>用户名</label>
    <div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-pencil"></i>
    </div>
    <input type="text" class="form-control username" placeholder="用户名" name="username" value="">
</div>
</div>
                            </div>
                                                    <div class="form-group">
                                <div class="form-group">
    <label>状态</label>
    <select class="form-control status select2-hidden-accessible" name="status" style="width: 100%;" tabindex="-1" aria-hidden="true"><option></option>
<option value="1">待审核</option>
<option value="2">已通过</option>
<option value="3">已拒绝</option>
</select>
</div>
                            </div>
                                                    <div class="form-group">
                                <div class="form-group">
    <label>起止时间</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control" id="created_at_start" placeholder="起止时间" name="created_at[start]" value=""><span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
        <input type="text" class="form-control" id="created_at_end" placeholder="起止时间" name="created_at[end]" value="">
</div>
</div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
    <label>审核时间</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control" id="end_at_start" placeholder="审核时间" name="end_at[start]" value=""><span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
        <input type="text" class="form-control" id="end_at_end" placeholder="审核时间" name="end_at[end]" value="">
</div>
</div>
                            </div>
                                                    <div class="form-group">
                                <div class="form-group">
    <label>客户提现USDT</label>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="客户提现USDT" name="buy_amount[start]" value=""><span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
        <input type="text" class="form-control" placeholder="客户提现USDT" name="buy_amount[end]" value="">
</div>
</div>
                            </div>
                                            </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary submit">提交</button>
                    <button type="reset" class="btn btn-warning pull-left">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>
            
<div class="btn-group pull-right" style="margin-right: 10px">
    <a class="btn btn-sm btn-twitter" href='{:url("home/merchant/outUserWithdraw")}' target="_blank"><i class="fa fa-download"></i> 导出</a>
</div>
&nbsp;&nbsp;

            
        </div>

        <span>
            <a class="btn btn-sm btn-primary grid-refresh"><i class="fa fa-refresh"></i> 刷新</a>
        </span>

    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover"><tbody><tr>
<th>ID<a class="fa fa-fw fa-sort" href="/merchant/withdraw?order=asc"></a>
</th>
								<th>订单号</th>
                                <th>用户名</th>
                                <th>客户提币USDT</th>
                                <th>转出地址</th>
                                <th>手续费支出</th>
                                <th>实到</th>
                                <th>状态</th>
                                <th>创建日期</th>
                                <th>审核时间</th>
								<th>操作</th>
                            </tr>
                            {volist name="list" id="vo"}
                            <tr>
                            	<td>{$vo.id}</td>
                            	<td>{$vo.ordersn}</td>
                            	<td>{$vo.username}</td>
                            	<td>{$vo.num}</td>
                            	<td>{$vo.address}</td>
                            	<td>{$vo.fee}</td>
                            	<td>{$vo.mum}</td>
                            	<td>
                            		{if condition="$vo.status eq 0"}
                            		待审核
                            		{elseif condition="$vo.status eq 1"/}
                            		已通过
                            		{elseif condition="$vo.status eq 2"/}
                            		已拒绝
                            		{/if}
                            	</td>
                            	<td>{:date("Y-m-d H:i:s", $vo['addtime'])}</td>
                            	<td>
                            	{empty name="vo.endtime"}
                            	---
                            	{else/}
                            	{:date("Y-m-d H:i:s", $vo['endtime'])}
                            	{/empty}
                            	</td>
								<td>
									<a href="https://www.omniexplorer.info/search/{$vo.txid}" target="_blank" class="btn btn-sm btn-success">
        查看Tid
    </a>
								</td>
                            </tr>
                            {/volist}
                            </tbody></table>
</div>
    <div class="box-footer clearfix">
		{$list->render()}
    </div>
    <!-- /.box-body -->
</div>
</div></div>

    </section><script data-exec-on-popstate="">

    $(function () {
                                $('#created_at_start').datetimepicker({"format":"YYYY-MM-DD HH:mm:ss","locale":"zh_CN"});
            $('#created_at_end').datetimepicker({"format":"YYYY-MM-DD HH:mm:ss","locale":"zh_CN","useCurrent":false});
            $("#created_at_start").on("dp.change", function (e) {
                $('#created_at_end').data("DateTimePicker").minDate(e.date);
            });
            $("#created_at_end").on("dp.change", function (e) {
                $('#created_at_start').data("DateTimePicker").maxDate(e.date);
            });
                                $('#end_at_start').datetimepicker({"format":"YYYY-MM-DD HH:mm:ss","locale":"zh_CN"});
            $('#end_at_end').datetimepicker({"format":"YYYY-MM-DD HH:mm:ss","locale":"zh_CN","useCurrent":false});
            $("#end_at_start").on("dp.change", function (e) {
                $('#end_at_end').data("DateTimePicker").minDate(e.date);
            });
            $("#end_at_end").on("dp.change", function (e) {
                $('#end_at_start').data("DateTimePicker").maxDate(e.date);
            });
                    
$("#filter-modal .submit").click(function () {
    $("#filter-modal").modal('toggle');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
});

                    $(".status").select2({
  placeholder: "选择"
});

                    
$('.export-selected').click(function (e) {
    e.preventDefault();
    
    var rows = selectedRows().join(',');
    if (!rows) {
        return false;
    }
    
    var href = $(this).attr('href').replace('__rows__', rows);
    location.href = href;
});

                    
$('.grid-refresh').on('click', function() {
    //$.pjax.reload('#pjax-container');
    //toastr.success('刷新成功 !');
    window.location.reload();
});

                    
$('.grid-per-pager').on("change", function(e) {
    //$.pjax({url: this.value, container: '#pjax-container'});
});

            });
</script></div>
{include file="Public:footer_new"/}