{include file="Public:header_new"}
<style>
.w26 {
    width: 26px;
}
</style>
<div class="content-wrapper" id="pjax-container" style="min-height: 706px;">
    <section class="content-header">
        <h1>
            挂买
            <small>列表</small>
        </h1>

    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="pull-right">
                            <div class="btn-group pull-right" style="margin-right: 10px">
                                <a href="/merchant/adindex" class="btn btn-sm btn-facebook"><i class="fa fa-undo"></i>&nbsp;&nbsp;重置</a>
                            </div>
                            &nbsp;&nbsp;
                        </div>
                        <span>
                            <a class="btn btn-sm btn-primary grid-refresh"><i class="fa fa-refresh"></i> 刷新</a>
                        </span>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>ID<a class="fa fa-fw fa-sort" href="/merchant/adindex?order=asc"></a>
                                    </th>
                                    <th>类型</th>
                                    <th>价格</th>
                                    <th>总量</th>
                                    <th>剩余</th>
                                    <th>限额</th>
                                    <th>交易员</th>
                                    <th>交易次数</th>
                                    <th>平均打款时间</th>
                                    <th>支付方式</th>
                                    <th>操作</th>
                                </tr>
                                {volist name="list" id="vo"}
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>
                                        <font color='red'>买入</font>
                                    </td>
                                    <td>{$vo.price}</td>
                                    <td>{$vo.amount}</td>
                                    <td>{$vo['remain_num']}</td>
                                    <td>{$vo.min_limit}~{$vo.max_limit}</td>
                                    <td>{$vo['name']}</td>
                                    <!-- <td>{:msubstr($vo['name'], 0, 1)}</td> -->
                                    <td>{$vo.transact_buy}</td>
                                    <td>{:round($vo['averge_buy']/60)}分钟</td>
                                    <td>
                                        {php}
                                        if($vo['pay_method']> 0){
                                        echo '<img src="__IMG__/bank.png" class="w26" />';
                                        }
                                        if($vo['pay_method2']> 0){
                                        echo '<img src="__IMG__/alipay.png" class="w26" />';
                                        }
                                       if($vo['pay_method3']> 0){
                                        echo '<img src="__IMG__/wechatpay.png" class="w26" />';
                                        }
                                        if($vo['pay_method4']> 0){
                                        echo '<img src="__IMG__/yun.png" class="w26" width="32"  height="32" />';
                                        }
                                        {/php}
                                    </td>
                                    <td>
                                        <a href="/merchant/addetail?id={$vo.id}" class="btn btn-sm btn-success">卖出</a>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        {$list->render()}
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <script data-exec-on-popstate="">
    $(function() {

        $('.grid-refresh').on('click', function() {
            //$.pjax.reload('#pjax-container');
            //toastr.success('刷新成功 !');
            window.location.reload();
        });

    });
    </script>
</div>
{include file="Public:footer_new"/}