{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style type="text/css">
	/* TAB */
	.nav-tabs.nav > li > a {
		padding: 10px 25px;
		margin-right: 0;
	}
	.nav-tabs.nav > li > a:hover,
	.nav-tabs.nav > li.active > a {
		border-top: 3px solid #1ab394;
		padding-top: 8px;
		border-bottom: 1px solid #ffffff;
	}
	.nav-tabs > li > a {
		color: #a7b1c2;
		font-weight: 500;
		margin-right: 2px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		border-radius: 0;
	}
	.file-item {float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
	.file-item .info {overflow: hidden;}
	.uploader-list {width: 100%; overflow: hidden;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>支付方式</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a> <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#"><i class="fa fa-wrench"></i></a> <a class="close-link"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="panel blank-panel">
						<div class="panel-heading">
							<div class="panel-options">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">银行卡</a></li>
									<li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">支付宝</a></li>
									<li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">微信</a></li>
									<li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">云闪付</a></li>
								</ul>
							</div>
						</div>
						<div class="panel-body">
							<div class="tab-content table-responsive">
								<div id="tab-1" class="tab-pane active">
									{if !empty($menu)} {foreach name="data.bankcard" item="v"}
									<div class="hr-line-dashed"></div>
									<div class="form-inline form-group">
										<label class="col-sm-2 control-label">{$v.name}：</label>
										<div class="input-group col-sm-4">
											<input type="text" class="form-control" value="{$v.truename} | {$v.c_bank} | {$v.c_bank_detail} | {$v.c_bank_card}" disabled/>
										</div>
										<a href="/admin/user/delPayment/type/0/id/{$v.id}" class="btn btn-danger">删除</a>
									</div>
									{/foreach} {/if}
								</div>
								<div id="tab-2" class="tab-pane">
									{if !empty($menu)} {foreach name="data.alipay" item="v"}
									<div class="hr-line-dashed"></div>
									<div class="form-inline form-group">
										<label class="col-sm-2 control-label">{$v.name}：</label>
										<div class="input-group col-sm-4">
											<input type="text" class="form-control" value="{$v.truename} | {$v.c_bank} | {$v.alipay_id} |{$v.c_bank_card} " disabled/>
										</div>
										<a href="/admin/user/delPayment/type/1/id/{$v.id}" class="btn btn-danger">删除</a>
									</div>
									<div class="form-group last">
										<label class="control-label col-md-3">图片</label>
										<div class="col-md-9">
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<div class="fileupload-new thumbnail" style="width: 300px; height: 450px;">
													<img onerror="this.src='/static/admin/images/no_img.jpg'" src="/uploads/face/{$v.c_bank_detail}">
												</div>
											</div>
										</div>
									</div>
									{/foreach} {/if}
								</div>
								<div id="tab-3" class="tab-pane">
									{if !empty($menu)} {foreach name="data.wxpay" item="v"}
									<div class="hr-line-dashed"></div>
									<div class="form-inline form-group">
										<label class="col-sm-2 control-label">{$v.name}：</label>
										<div class="input-group col-sm-4">
											<input type="text" class="form-control" value="{$v.truename} | {$v.c_bank} | {$v.c_bank_card}" disabled/>
										</div>
										<a href="/admin/user/delPayment/type/2/id/{$v.id}" class="btn btn-danger">删除</a>
									</div>
									<div class="form-group last">
										<label class="control-label col-md-3">图片</label>
										<div class="col-md-9">
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<div class="fileupload-new thumbnail" style="width: 300px; height: 450px;">
													<img onerror="this.src='/static/admin/images/no_img.jpg'" src="/uploads/face/{$v.c_bank_detail}">
												</div>
											</div>
										</div>
									</div>
									{/foreach} {/if}
								</div>
								<div id="tab-4" class="tab-pane">
									{if !empty($menu)} {foreach name="data.unionpay" item="v"}
									<div class="hr-line-dashed"></div>
									<div class="form-inline form-group">
										<label class="col-sm-2 control-label">{$v.name}：</label>
										<div class="input-group col-sm-4">
											<input type="text" class="form-control" value="{$v.truename} | {$v.c_bank} | {$v.c_bank_card}" disabled/>
										</div>
										<a href="/admin/user/delPayment/type/3/id/{$v.id}" class="btn btn-danger">删除</a>
									</div>
									<div class="form-group last">
										<label class="control-label col-md-3">图片</label>
										<div class="col-md-9">
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<div class="fileupload-new thumbnail" style="width: 300px; height: 450px;">
													<img onerror="this.src='/static/admin/images/no_img.jpg'" src="/uploads/face/{$v.c_bank_detail}">
												</div>
											</div>
										</div>
									</div>
									{/foreach} {/if}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>
<script type="text/javascript">
	var $list = $('#fileList');
	//上传图片,初始化WebUploader
	var uploader = WebUploader.create({

		auto     : true,// 选完文件后，是否自动上传。
		swf      : '/static/admin/js/webupload/Uploader.swf',// swf文件路径
		server   : "{:url('Upload/upload')}",// 文件接收服务端。
		duplicate: true,// 重复上传图片，true为可重复false为不可重复
		pick     : '#imgPicker',// 选择文件的按钮。可选。

		accept: {
			title     : 'Images',
			extensions: 'gif,jpg,jpeg,bmp,png',
			mimeTypes : 'image/jpg,image/jpeg,image/png'
		},

		'onUploadSuccess': function (file, data, response) {
			$("#data_photo").val(data._raw);
			$("#img_data").attr('src', '/uploads/images/' + data._raw).show();
		}
	});

	uploader.on('fileQueued', function (file) {
		$list.html('<div id="' + file.id + '" class="item">' +
			'<h4 class="info">' + file.name + '</h4>' +
			'<p class="state">正在上传...</p>' +
			'</div>');
	});

	// 文件上传成功
	uploader.on('uploadSuccess', function (file) {
		$('#' + file.id).find('p.state').text('上传成功！');
	});

	// 文件上传失败，显示上传出错。
	uploader.on('uploadError', function (file) {
		$('#' + file.id).find('p.state').text('上传出错!');
	});
</script>
<script type="text/javascript">
	var config = {'.chosen-select': {},}
	for (var selector in config) {
		$(selector).chosen(config[selector]);
	}
</script>
</body></html>
