{include file="public/header" /}
<style>.input-group-addon{width:15px;}</style>
<body class="gray-bg">
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>编辑用户余额</h5>
					<div class="ibox-tools">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
					</div>
				</div>
				<div class="ibox-content">
					<form class="form-horizontal" id="edit_member">
						<div class="form-group">
							<label class="col-sm-3 control-label">ID：</label>
							<div class="input-group">
								<input name="id" type="text" class="form-control" name="name" value="{$user.id}" placeholder="用户ID" readonly>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">姓名：</label>
							<div class="input-group">
								<input type="text" class="form-control" value="{$user.name}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">可用余额变动：</label>
							<div class="input-group">
								<input type="text" id="input_usdt" class="form-control" name="usdt" value="0" placeholder="请输入加减数量">
								<span class="input-group-addon" id="usdt"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">冻结余额变动：</label>
							<div class="input-group">
								<input type="text" id="input_usdtd" class="form-control" name="usdtd" value="0" placeholder="请输入加减数量">
								<span class="input-group-addon" id="usdtd"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-3">
								<button class="btn btn-primary" type="button" id="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp; <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
	$(document).ready(function () {getBalance()});
	let getBalance = function(){
		$.ajax({
			type    : 'POST',
			url : "/admin/balance/get/id/{$user.id}.html",
			dataType: 'json',
			success : function (res) {$('#usdt').text(res.data.usdt);$('#usdtd').text(res.data.usdtd);setTimeout("getBalance()", 2000)}
		})
	};
	//提交
	$("#submit").click(function () {
		layer.confirm("确定保存?", {btn: ['确定', '取消'], title: "提示"}, function () {
			$.ajax({
				type    : 'POST',
				url     : "",
				data    : $('#edit_member').serialize(),
				dataType: 'json',
				success : function (data) {
					if (data.code == 0) {
						layer.msg(data.msg, {icon: 6, time: 1500, shade: 0.1}, function (index) {
							$('#input_usdt').val(0);$('#input_usdtd').val(0);
						});
					} else {
						layer.msg(data.msg, {icon: 5, time: 1500, shade: 0.1});
						return false;
					}
				}
			});
		});
	});
</script>
</body>
